.sevice-box > div{
	padding: 40px;
    text-align: center;
    border-radius: 22px;
    transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
	border: 1px solid #0f0e0e1a;
}

.sevice-box h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 33px;
	font-weight: 700;
}

.sevice-box > div:hover{
	background-color: #5355df;
	border-color: #5355df;
}

.sevice-box > div:hover *{
	color: #fff;
}

.sevice-box > div .read-more-link{
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px dashed #0f0e0e1a;
}

