section.title-area{
	background: linear-gradient(0deg, rgba(83, 85, 223, 0.2) 0%, rgba(83, 85, 223, 0) 100%);
	padding-top: 150px;
	padding-bottom: 150px;
}

section.title-area h1{
	font-size: 60px;
	font-weight: 700;
}

section.title-area ul.breadcrumbs li{
	list-style-type: none;
	float: left;
	padding: 5px;
/*	margin-right: 25px;*/
}

section.title-area ul.breadcrumbs li:not(:last-child):after{
	content: '➙';
	display: inline-block;
	margin: auto 5px auto 15px;
	color: #000;
	transform: translateY(2px);
}
