@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.menu-wrapper{
	text-align: right;	
}

.menu-wrapper ul.nav{
	display: inline-block;
}

.menu-wrapper ul.nav li{
	display: inline-block;
	list-style-type: none;
}

.menu-wrapper ul.nav li > a{
	display: inline-block;
	text-decoration: none;
	color: #333;
	padding: 8px 20px;
	font-weight: 600;
	transition: all 0.25s;
	position: relative;
}

.menu-wrapper ul.nav li > a:before{
	content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    width: 8px;
    height: 8px;
    display: inline-block;
	background-color: $primary-color;
    transform: rotate(45deg) translateY(-6px);
    opacity: 0;
    transition: all 0.25s;
}

.menu-wrapper ul.nav li > a:hover:before{
	left: 0;
	opacity: 1;
}

.menu-wrapper ul.nav li > a:hover{
	display: inline-block;
	text-decoration: none;
	color: $primary-color;
	padding: 8px 20px;
	font-weight: 600;
}